<?xml version="1.0"?>
<launch>

	<arg name="joy_config" default="cobra" />
	<arg name="joy_dev" default="/dev/input/js0" />
	<arg name="config_filepath" default="$(find teleop_twist_joy)/config/$(arg joy_config).config.yaml" />
  
	<node pkg="joy" type="joy_node" name="joy_node">
	    <param name="dev" value="$(arg joy_dev)" />
	    <param name="deadzone" value="0.10" />
	    <param name="autorepeat_rate" value="20" />
		<remap from="/joy" to="/joyous" />
	</node>

	<node pkg="teleop_twist_joy" type="teleop_node" name="teleop_node" output="screen">
	    <param name="scale_linear" value="1.0" />
	    <param name="scale_angular" value="1.0" />
	</node>

</launch>
