absl-py==0.7.1
astor==0.7.1
astroid==2.0.4
catkin-pkg==0.4.9
certifi==2018.10.15
chardet==3.0.4
cloudpickle==0.8.0
cycler==0.10.0
dask==2021.10.0
decorator==4.4.0
docutils==0.14
gast==0.2.2
gnupg==2.3.1
grpcio==1.19.0
h5py==2.9.0
idna==2.7
isort==4.3.4
Keras==2.1.6
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
llvmlite==0.25.0
lz4==2.1.1
Markdown==3.0.1
matplotlib==3.0.3
mccabe==0.6.1
mock==2.0.0
Naked==0.1.31
networkx==2.2
numba==0.40.1
numpy==1.15.2
numpy-quaternion==2018.10.1.22.5.32
pandas==0.23.4
pbr==5.1.3
Pillow==5.4.1
progressbar2==3.38.0
protobuf==3.7.0
psutil==5.4.7
pycrypto==2.6.1
pydot==1.4.1
pylint==2.1.1
pyparsing==2.2.2
pyquaternion==0.9.2
python-dateutil==2.7.3
python-utils==2.3.0
pytz==2018.5
PyWavelets==1.0.2
PyYAML==3.13
requests==2.20.0
rospkg==1.1.7
scikit-image==0.14.2
scikit-learn==0.20.3
scipy==1.1.0
shellescape==3.4.1
six==1.11.0
tensorboard==1.12.2
tensorflow-estimator==1.13.0
tensorflow-gpu==1.12.0
termcolor==1.1.0
toolz==0.9.0
typed-ast==1.1.0
urllib3==1.24
Werkzeug==0.14.1
wrapt==1.10.11
